@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/yadro_bg4.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Proxima Nova';
}

main {
    display: flex;
    align-items: center;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.login-container {
    width: 520px;
    height: 608px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.login-header {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.tab {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.tab.active {
    position: relative;
    color: #F4F6FB;
}

.tab.active:after {
    display: block;
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    left: 0;
    bottom: -15px;
}

.login-form {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 40px 60px 40px 60px;
    gap: 20px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 5px;
}

.login-footer {
    width: 409px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-input input {
    width: 400px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F4F6FB;
}

.login-input.error input {
    border: 1px solid #E93D5C;
}

.input-container {
    position: relative;
}

.input-container .icon {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px; /* Расположено у правой границы */
    transform: translateY(-50%);
    pointer-events: none; /* Чтобы иконка не мешала вводу текста */
    color: lightgrey;
}

.input-container input:focus + .placeholder-text,
.input-container input:not(:placeholder-shown) + .placeholder-text {
    display: none;
}

.placeholder-text {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #D3D4ED;
    pointer-events: none;
}

.error {
    display: none;
    padding: 0px 0px 0px 20px;
    gap: 10px;
}

.error p {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #E93D5C;
}

.error.active {
    display: block;
}

.login-input button {
    width: 400px;
    height: 50px;
    background-color: #1E22AA;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding: 19px, 30px, 20px, 30px;
    cursor: pointer;
    border-radius: 10px;
}
